*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
key.properties
app/keystore/
third_party/llama.cpp/
app/src/main/assets/vosk-model-*/
app/src/main/assets/porcupine/
app/src/main/assets/llama-server
app/src/main/assets/*.so
